<template>
    <div id="app">
        <Navbar></Navbar>
        <div class="container">
            <Errors v-if="error" :msg="error" class="mt-2"></Errors>
            <router-view/>
        </div>
    </div>
</template>

<style>
</style>
<script>
  import { mapGetters } from 'vuex'
  import Navbar from './components/Navbar'
  import Errors from './components/Errors'

  export default {
    components: { Navbar, Errors },
    computed: {
      ...mapGetters(['error'])
    }
  }
</script>