<template>
    <div>
        <div class="row mt-5">
            <div class="card mx-auto">
                <div class="card-header text-white bg-dark">
                    <h4>Đăng nhập</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="loginUser">
                        <div class="form-group">
                            <label for="username">Tên tài khoản</label>
                            <input type="text" placeholder="Tên tài khoản" name="username" v-model="username"
                                   class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" placeholder="Mật khẩu" name="password" v-model="password"
                                   class="form-control" id="password">
                        </div>
                        <input type="submit" class="btn btn-dark" value="Đăng nhập"/>
                        <router-link to="/register" class="card-link ml-4 text-dark">Đăng kí tài khoản</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
  export default {
    name: 'Login',
    data () {
      return {
        username: '',
        password: '',
      }
    },
    methods: {
      ...mapActions(['login']),
      loginUser() {
        let user = {
          username: this.username,
          password: this.password
        };
        this.login(user)
        .then(res => {
          if(res.data.success) {
            this.$router.push('profile');
          }
        }).catch(err => {
          console.log(err)
        })
      }
    }
  }
</script>

<style scoped>
    .card {
        width: 60%;
    }
</style>