<template>
    <div>
        <div class="row mt-5">
            <div class="card mx-auto">
                <div class="card-header text-white bg-dark">
                    <h4>Thông tin người dùng</h4>
                </div>
                <div class="card-body" v-if="user">
                    <ul class="list-group">
                        <li class="list-group-item">Email: {{user.data.email}}</li>
                        <li class="list-group-item">Username: {{user.data.username}}</li>
                        <li class="list-group-item">Name: {{user.data.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { mapActions, mapGetters } from "vuex";
  export default {
    name: 'Profile',
    computed: mapGetters(["user"]),
    methods: {
      ...mapActions(["getProfile"])
    },
    created() {
      this.getProfile();
    }
  }
</script>

<style scoped>
    .card {
        width: 60%;
    }
</style>