<template>
    <div>
        <div class="row mt-5">
            <div class="card mx-auto">
                <div class="card-header text-white bg-dark">
                    <h4>Đăng kí</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="registerUser">
                        <div class="form-group">
                            <label for="username">Tên tài khoản</label>
                            <input type="text" placeholder="Tên tài khoản" name="username" v-model="username"
                                   class="form-control" id="username">
                        </div>
                        <div class="form-group">
                            <label for="name">Tên</label>
                            <input type="text" placeholder="Tên" name="name" v-model="name"
                                   class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" placeholder="Email" name="email" v-model="email"
                                   class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" placeholder="Password" name="password" v-model="password"
                                   class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Xác nhận mật khẩu</label>
                            <input type="password" placeholder="Confirm password" name="confirm_password" v-model="confirm_password"
                                   class="form-control" id="confirm_password">
                        </div>
                        <button class="btn btn-dark">Đăng kí</button>
                        <router-link to="/login" class="card-link ml-4 text-dark">Bạn đã có tài khoản</router-link>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import {mapActions} from 'vuex';
  export default {
    name: "Register",
    data () {
      return {
        username: '',
        password: '',
        confirm_password: '',
        name: '',
        email: ''
      }
    },
    methods: {
      ...mapActions(['register']),
      registerUser() {
        let user = {
          username: this.username,
          password: this.password,
          confirm_password: this.confirm_password,
          email: this.email,
          name: this.name,
        };
        this.register(user).then(res => {
          if(res.data.success) {
            this.$router.push('login')
          }
        })
      }
    }
  }
</script>

<style>
    .card {
        width: 60%;
    }
</style>