<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <router-link class="navbar-brand" to="/">Logo</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <router-link class="nav-link" to="/">Home
                        <span class="sr-only">(current)</span>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/about">Liên hệ</router-link>
                </li>
                <li class="nav-item" v-if="!isLoggedIn">
                    <router-link class="nav-link" to="/login">Đăng nhập</router-link>
                </li>
                <li class="nav-item" v-if="!isLoggedIn">
                    <router-link class="nav-link" to="/register">Đăng kí</router-link>
                </li>
                <li class="nav-item" v-if="isLoggedIn">
                    <router-link class="nav-link" to="/profile">Hồ sơ</router-link>
                </li>
                <li class="nav-item" v-if="isLoggedIn">
                    <a class="nav-link" to="/logout" @click.prevent="logoutUser">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  export default {
    name: 'Navbar',
    computed: {
      ...mapGetters(['isLoggedIn'])
    },
    methods: {
      ...mapActions(['logout']),
      logoutUser() {
        this.logout()
      }
    }
  }
</script>

<style>

</style>